<div
  class="card h-100 shadow-sm border-0 overflow-hidden hover-shadow position-relative"
  (click)="goToDetails()"
  style="cursor: pointer"
>
  <button
    *ngIf="mode === 'default'"
    class="btn btn-outline-danger position-absolute top-0 end-0 m-2 circle-icon"
    (click)="toggleFavorite($event)"
    [ngClass]="{ 'text-danger': isFavorite, 'text-muted': !isFavorite }"
    aria-label="Add to favorites"
  >
    <i class="bi bi-heart-fill" *ngIf="isFavorite"></i>
    <i class="bi bi-heart" *ngIf="!isFavorite"></i>
  </button>

  <button
    *ngIf="mode === 'favorites'"
    class="btn btn-outline-secondary position-absolute top-0 end-0 m-2"
    (click)="removeFromFavorites($event)"
    aria-label="Remove from favorites"
  >
    <i class="bi bi-trash-fill"></i>
  </button>

  <div class="position-relative" style="height: 300px">
    <img
      [src]="book.volumeInfo.imageLinks?.thumbnail || placeholderImg"
      class="w-100 h-100 object-fit-cover"
      [alt]="book.volumeInfo.title || 'Book cover'"
    />
  </div>

  <div class="card-body p-4 d-flex flex-column">
    <h3
      class="h5 mb-3 text-truncate"
      [title]="book.volumeInfo.title || 'Untitled book'"
    >
      {{ book.volumeInfo.title || "Untitled book" }}
    </h3>

    <div class="mt-auto">
      <div class="d-flex align-items-center gap-2 mb-2">
        <i class="bi bi-person fs-6 text-muted"></i>
        <small class="text-muted text-truncate">
          {{ book.volumeInfo.authors?.[0] || 'Unknown author' }}
        </small>
      </div>

      <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center gap-1">
          <i class="bi bi-calendar text-muted"></i>
          <small class="text-muted">
            {{
              book.volumeInfo.publishedDate
                ? (book.volumeInfo.publishedDate | date : "yyyy")
                : "Unknown year"
            }}
          </small>
        </div>

        <span *ngIf="book.volumeInfo?.averageRating">
          <i class="bi bi-star-fill text-warning"></i>
          <small class="text-muted">{{ book.volumeInfo.averageRating }}</small>
        </span>
      </div>
    </div>
  </div>
</div>
